
/* Your CSS Code here. */
.holder{
    background-color: aquamarine;
    width:100%;
    height: 50vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.child{
    background-color: blanchedalmond;
    width: 100px;
    height: 3em;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}